
<div class="col-xs-12">
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button class="close dismiss-alert" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Error!</strong>
		<br>
		{{#if error.message}}
			{{error.message}}
			<br>
			Details: {{error.details}}
			<br>
		{{/if}}
		{{#if error.url}}
			Something went wrong while communicating with the server.
			<br>
			URL: <code>{{error.url}}</code>
			<br>
			HTTP status: <code>{{error.httpStatus}}</code>
			<br>
		{{/if}}
		{{#if error.data}}
			The following additional data may help us to diagnose the problem:
			<pre>{{error.data}}</pre>
		{{/if}}
	</div>
</div>
