{{#if lobbies}}
<div class="col-xs-12 col-sm-9">
{{else}}
<div class="col-xs-12">
{{/if}}
	<h2>
		Hello <img src={{myself.profileIcon}} width="32" height ="32"> {{myself.displayName}}.
	</h2>
	<p class="text">
		Invite some friends or just play on your own?
	</p>
	<p class="text">
		<button id="button-solo" type="button" class="btn btn-default home-button">Play solo</button>
		<button id="button-party" btype="button" class="btn btn-default home-button">Play with friends</button>
	</p>
</div>
{{#if lobbies}}
<div class="col-xs-12 col-sm-3">
	<b>Continue playing in:</b>
	<ul id="lobby-list" class="no-padding">
		{{#each lobbies}}
		<li><a  data-lobby-id={{id}} class="continue-link" href={{url}}>{{name}}</a></li>
		{{/each}}
	</ul>
</div>
{{/if}}
