
<div class="col-xs-12">
	<div class="center">
		<h3>Congratulations to:</h3>
		<ul id="winner-list">
		{{#each winners}}
			<li class="victory-winner-li">
				<span>
					<img src={{icon}} width="40" height="40"> {{summoner.displayName}}
					<img src="/static/icons/gold-coin.png" class="victory-gold-icon"> {{score}}
				</span>
			</li>
		{{/each}}
		</ul>
		{{#if runners}}
		<h3>Runners-up:</h3>
		<ul id="runners-list">
		{{#each runners}}
			<li class="victory-runners-li">
				<span>
					<img src={{icon}} width="40" height="40"> {{summoner.displayName}}
					<img src="/static/icons/gold-coin.png" class="victory-gold-icon"> {{score}}
				</span>
			</li>
		{{/each}}
		</ul>
		{{/if}}
		<button id="victory-button" class="btn btn-default victory-button">Return to Home</button>
	</div>
</div>
